.bg-light1{
background-color: #aac6f0;
}
.bg-light2{
    background-color: #869cbd;
}
.bg-light3{
    background-color: #697a94;
}
.bg-light4{
    background-color: #3c66a3;
    color: black;
    font-weight: bold;
}